.header {
  min-height: 120px;
  padding-top: 28px;
  margin-bottom: 9px;

  &--another-height {
    min-height: 86px
  }
}

.header__container {
  width: @mobile-width;

  margin: 0 auto;
}

.header-top {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}

.header-top__toggle {
  width: 33.67px;
  height: 27px;

  padding: 0;
  margin-right: 34px;

  text-align: center;

  background-color: transparent;
  border: none;

  cursor: pointer;

  &--nojs {
    display: none;
  }
}

.header-top__toggle-decorate {
  position: relative;

  display: block;
  width: 100%;
  height: 3px;
  margin-top: 3px;

  background-color: #2f3035;
  border-radius: 3px;

  &:before,
  &:after {
    position: absolute;
    content: "";

    width: 33.67px;
    height: 3px;

    background-color: #2f3035;
    border-radius: 3px;
  }

  &:before {
    top: 12px;
    left: 0;
  }

  &:after {
    bottom: 12px;
    left: 0;
  }

  &--close {
    height: 0;

    &:before {
      top: 0;
      left: 0;
      transform: rotate(45deg);
    }

    &:after {
      top: 0;
      left: 0;
      transform: rotate(-45deg);
    }
  }
}

.header-top__address {
  display: none;
}

.header-top__user-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 101px;
  min-height: 24px;
  order: 2;
}

.header-top__user-link {
  display: block;

  &--favourite {
    min-width: 25px;
    min-height: 22px;
  }

  &--prifile {
    min-width: 25px;
    min-height: 24px;
  }

  &--cart {
    position: relative;

    min-width: 31px;
    min-height: 23px;
  }
}

.header-top__user-icon,
.icon-favourite {
  fill: @main-fill-color;

  &:hover {

    fill: @second-bg-color;
  }
}

.header-top__user-amount {
  position: absolute;
  top: 10px;
  left: 25px;

  display: block;
  min-width: 20px;
  min-height: 20px;
  padding: 4px 7px;

  font-size: 10px;
  line-height: 12px;
  color: #ffffff;

  background-color: @second-bg-color;
  border-radius: 50%;
}

.header-top__list {
  display: flex;
  width: 310px;
  min-height: 53px;
  margin-top: 24px;
  order: 3;

  font-weight: 700;

  overflow-x: scroll;

  &::-webkit-scrollbar {
    width: 0;
  }

  &--mobile-hidden {
    display: none;
  }
}

.header-top__item:not(:last-child) {
  margin-right: 22px;
}

.header-top__link {
  color: @main-color-text;

  white-space: nowrap;

  &:hover {
    color: @second-color-text;
  }

  &:active {
    opacity: 0.5;
  }
}

@media (min-width: @desktop-width) {
  .header {
    min-height: 153px;
    padding-top: 25px;
    margin-bottom: 76px;

    &--another-height {
      min-height: 153px
    }
  }

  .header__container {
    width: @desktop-width;
    padding: 0 135px;
    margin: 0 auto;
  }

  .header-top {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 20px;
  }

  .header-top__toggle {
      display: none;
  }

  .header-top__address {
    position: relative;

    display: block;
    order: 3;
    margin-top: 29px;

    font-style: normal;
    font-weight: 700;

    &::before {
      position: absolute;
      content: "";
      top: -11px;
      left: -30px;

      width: 30px;
      height: 30px;

      background: url(../../img/pin-address.svg) no-repeat;
    }
  }

  .header-top__address-link > pre {
    font-family: inherit;
    margin: 0;
  }

  .header-top__user-list {
    order: 3;
    margin-left: 86px;
    margin-top: 29px;
  }

  .header-top__list {
    justify-content: space-between;
    order: 1;
    width: 449px;
    margin-right: 96px;
    margin-top: 28px;

    overflow-x: auto;

    &--mobile-hidden {
      display: flex;
    }
  }
}
