.navigation {
  display: none;
  min-height: 150px;

  border-bottom: 2px solid rgba(0, 0, 0, 0.1);

  &--closed {
    display: none;
  }

  &--opened {
    display: block;
  }

  &--nojs {
    display: block;
  }
}

.navigation__item {
  width: 100%;

  border-bottom: 2px solid rgba(0, 0, 0, 0.1);

  &--address {
    width: @mobile-width;
    min-height: 80px;
    margin: 0 auto;
    padding-top: 30px;

    font-weight: 700;
    text-align: center;

    border: 0;
  }
}

.navigation__link {
  position: relative;

  display: block;
  width: @mobile-width;
  min-height: 40px;
  margin: 0 auto;
  padding-top: 9px;
  padding-left: 55px;

  color: @main-color-text;

  &:hover {
    font-weight: 600;

    & .navigation__icon {
      fill: @second-bg-color;

      &--stores,
      &--delivery {
        fill: none;
        stroke: @second-bg-color;
      }
    }
  }

  &:active {
    opacity: 0.5;
  }
}

.navigation__icon {
  position: absolute;
  top: 10px;
  left: 10px;

  &--stores,
  &--delivery {
    fill: none;
    stroke: @main-fill-color;
  }

  &--position {
    left: 15px;
  }
}

.navigation__text-address {
  margin: 0;
}

@media (min-width: @desktop-width) {
  .navigation {
    display: block;
    width: 100%;
    min-height: 53px;

    background-color: #f0f0f4;
    border: 0;
  }

  .navigation__list {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 1px 60px;
    width: @desktop-width;

    margin: 0 auto;
    padding: 0 135px;
  }

  .navigation__item {
    position: relative;

    width: auto;
    min-height: 53px;

    border: 0;

    &--address {
      display: none;
    }

    &--mobile {
      display: none;
    }

    &--current::before {
      position: absolute;
      content: "";
      right: 0;
      left: 0;
      bottom: 0;

      height: 3px;

      background-color: @second-fill-color;
    }
  }

  .navigation__link {
    position: relative;

    display: block;
    width: auto;
    min-height: 53px;
    margin: 0;
    padding: 0;
    padding-top: 13px;
    padding-bottom: 11px;

    &--current {
      font-weight: 600;
    }
  }
}
