.pagination {
  width: 270px;
}

.pagination__list {
  display: grid;
  grid-template-columns: repeat(7, 39px);
  min-height: 39px;
}

.pagination__item {
  &--current {
    border: 1px solid @main-color-button;
  }
}

.pagination__link {
  display: block;
  width: 100%;
  min-height: 100%;
  padding-top: 7px;

  font-family: "Barlow", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #c4c4c4;
  text-align: center;

  &--current {
    font-weight: 600;
    color: @second-color-text;

    cursor: default;
  }

  &:hover:not(.pagination__link--current) {
    color: darken(#c4c4c4, 30%);
  }

  &:active:not(.pagination__link--current) {
    opacity: 0.8;
  }
}

@media (min-width: @desktop-width) {
  .pagination {
    width: 330px;
    margin: 0 auto;
  }

  .pagination__list {
    grid-gap: 9px;
  }
}
