.social {
  display: grid;
  grid-template-columns: repeat(4, 30px);
  align-items: center;
  grid-gap: 30px;
  width: 210px;
  padding: 0 45px;
  margin-bottom: 73px;
}

.social__icon {
  fill: black;
  stroke: black;
}

@media (min-width: @desktop-width) {
  .social {
    width: 100%;
    padding-top: 43px;
    margin-bottom: 0;
  }
}
